.content-Sobrenosotros {
    background-image: url("../../Assets/Inicio/chorreado\ solo\ blanco\ 1.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    height: auto;
    padding: 20px 20px 50px 20px;

}
.logo-sobrenosotros {
    height: 44px;
    cursor: pointer;
}
.dot2{
    position: absolute;
    width: 5px;
    height: 5px;
    left: 522px;
    top: 50px;
}
.delivery{
    position: absolute;
    width: 813px;
    height: 520px;
    left: 32px;
    top: 252px;
}
.texto3{
    position: absolute;
    width: 377px;
    height: 270px;
    left: 967px;
    top: 288px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;

    color: #953CEE;
}
.texto4{
    position: absolute;
    width: 394px;
    height: 120px;
    left: 972px;
    top: 660px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #777776;
}
.imagen{
    position: absolute;
    width: 675.3px;
    height: 506px;
    left: 720px;
    top: 871px;

}
.texto5{
    position: absolute;
    width: 588px;
    height: 180px;
    left: 132px;
    top: 982px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;

    color: #953CEE;
}
.texto6{
    position: absolute;
    width: 394px;
    height: 120px;
    left: 132px;
    top: 1250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #777776;

}