@import url('./Assets/fonts/fonts.scss');

$spacer: 1rem;

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mb-6 {
  margin-bottom: ($spacer * 6) !important;
}

.my-6 {
  margin-bottom: ($spacer * 6) !important;
  margin-top: ($spacer * 6) !important;
}

.mt-12 {
  margin-top: ($spacer * 12) !important;
}

.mb-12 {
  margin-bottom: ($spacer * 12) !important;
}

.my-12 {
  margin-bottom: ($spacer * 12) !important;
  margin-top: ($spacer * 12) !important;
}

.py-6 {
  padding-bottom: ($spacer * 6) !important;
  padding-top: ($spacer * 6) !important;
}

.pt-6 {
  padding-top: ($spacer * 6) !important;
}